# DEVELOPMENT
DEV_BUILD_PATH=/PATH/TO/CADDY/STATIC/FOLDER/FOR/DEVELOPMENT/
DEV_WP_API=https://example.com/wp-json/wp/v2/
DEV_BLOCKS_API=https://example.com/wp-json/vip-block-data-api/v1/
# STAGING
STAGING_BUILD_PATH=/PATH/TO/CADDY/STATIC/FOLDER/FOR/STAGING/
STAGING_WP_API=https://example.com/wp-json/wp/v2/
STAGING_BLOCKS_API=https://example.com/wp-json/vip-block-data-api/v1/
# STAGING
PRODUCTION_BUILD_PATH=/PATH/TO/CADDY/STATIC/FOLDER/FOR/PRODUCTION/
PRODUCTION_WP_API=https://example.com/wp-json/wp/v2/
PRODUCTION_BLOCKS_API=https://example.com/wp-json/vip-block-data-api/v1/
