@use '@tokens/breakpoints';

.filters {

    padding: 2rem;
    
    h2 {
        width: 100%;
        display: block;
        font-size: 0.875rem;
        color: #999;
    }

    .filter-group {
        display: inline-block;

        select,
        input {
            padding: 0.25rem;
            border: 1px solid #ccc;
            border-radius: 2px;
        }

        > label {
            display: block;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
        }
    }

    button {
        display: inline-block;
        width: min-content;
        white-space: nowrap;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    @media screen and (min-width: breakpoints.get-breakpoint(sm)) {
        >div {
            display: flex;
            gap: 2rem;
        }
    }

  .nav_toggle {
    background: none;
    border: none;
    cursor: pointer;
  }
}
