---
import EventTeaser from "@components/Events/Events-Teaser.astro";
import "./_events-listing.scss";

interface Props {
  events: any[];
  total: number;
}

const { events, total }: Props = Astro.props;
---

<section
  id="events__listing"
  class="events__listing listing"
  role="region"
  aria-label="Event results"
  aria-busy="false"
>
    <p class="events__count">
        {total === 0
            ? 'No events match your filters.'
            : `The current filters are displaying ${total} event${total === 1 ? '' : 's'}.`
        }
    </p>
    {events.map((result) => (
        <EventTeaser data={result} />
    ))}
</section>