---
import EventTeaser from "@components/Events/Events-Teaser.astro";
import "./_events-listing.scss";

interface Props {
  events: any[];
}

const { events }: Props = Astro.props;
---

<section
  id="events__listing"
  class="events__listing listing"
  role="region"
  aria-label="Event results"
  aria-busy="false"
>
    {events.map((result) => (
        <EventTeaser data={result} />
    ))}
</section>