---
import Layout from '/src/layouts/index.astro';
import Listing from '/src/components/Listing.astro';

const REST_BASE = import.meta.env.REST_BASE;
const SITE_TITLE = import.meta.env.SITE_TITLE;

// posts
//
// const posts_res = await fetch(`${REST_BASE}posts`);
// const posts = await posts_res.json();
// const featured_events_res = await fetch(`${REST_BASE}posts`);
// const featured_event = await featured_events_res.json();
---
<Layout title={SITE_TITLE}>
  <section>
    <h2><a href="/collectives">Collectives/</a></h2>
    <Listing slug={'collectives'} />    
  </section>
 
  <section>
    <h2><a href="/events">Events/</a></h2>
    <Listing slug={'events'} />    
  </section>
</Layout>

