---
import { Debug } from 'astro:components';
const { component, innerBlocks, attributes } = Astro.props;
---
{innerBlocks.map( (block) => (
<a class="button" href={block.attributes?.url} target={block.attributes?.url?.indexOf('http') === 0 ? '_blank' : undefined} rel={block.attributes?.url?.indexOf('http') === 0 ? 'noopener noreferrer' : undefined}
>{block.attributes?.text}</a>
))}
<style>
    a.button {
        display: inline-block;
        padding: 0.5em 1em;
        background-color: var(--color-link);
        color: var(--color-page-bg);
        text-decoration: none;
        border-radius: 3px;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
            background-color: var(--color-subnav-link);
            color: var(--color-page-bg);
        }
    }
</style>