---
import SearchField from '@components/Search/SearchField.astro';
import SearchResults from '@components/Search/SearchResults.astro';
import Layout from '@layouts/page.astro';
---
<Layout title="Search">
    <SearchField />
    <noscript><p class="search__noscript">Search requires JavaScript to be enabled.</p></noscript>
    <SearchResults />
</Layout>