---

---
<div id="search-results" class="search-results">
    <!-- Search results will be injected here -->
</div>
<nav id="search-pagination" class="pagination"></nav>
<style>
    .search-results {
        margin-top: 1rem;
        background-color: #222;
        padding: 1rem;
        
        .teaser {
            margin-bottom: 1rem;
        }
    }
</style>