---
import NewsTeaser from "@components/News/News-Teaser.astro";
import "./_news-listing.scss";
import { isTemplateExpression } from "typescript";

interface Props {
    news: any[];
}

const { news }: Props = Astro.props;
news.filter((item) => item?.title?.rendered) || item.title;
---
<section
    id="news__listing"
    class="news__listing"
    role="region"
    aria-label="News results"
    aria-busy="false"
>
    {news.map((result) => (
        <NewsTeaser data={result} />
    ))}
</section>
