@use "@tokens/colors";
@use "@tokens/breakpoints";
@use "@mixins/layout";

.sidebar-layout > .wrapper {
  @include layout.sidebar();

  > header {

    time {
      padding: 0 1rem;
      position: relative;
      color: #444;
      display: inline-block;
      font-family: var(--font-impact-label), monospace;
      font-size: 1.5rem;
      transform: translate(-2rem, -0.5rem) rotate3d(0, 0, 1, -3deg);
    }
  }

  > aside {
    button {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}